
body {
  color:#ffffff;
  width: 94%;
  margin: 25px auto;
  text-align: center;
  z-index: 0;
  font-size: 21px;
  font-family: 'Work Sans', Garamond, 'Times New Roman', serif;
  font-weight: 350;
  max-width: 87.5%;
}


body {
  background-image: url("./images/backmobius.jpg");
  background-color: hsla(0, 0%, 0%, 85%);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
