.center {
    text-align: center;
    display: block;
    margin: 25px auto;
  }

  

.boxed{
    border: 1px solid black;
    padding: 0px 15px;
  }

  .boxedwhite{
    border: 1px solid white;
    padding: 0px 15px;
  }
  
  .boxtitle{
    padding-top: 8px;
    margin-top: 8px;
  }

  .eq {
    overflow-x: auto;
    margin: 0.8%;
  }

  .hline{
    border-bottom: 1px solid black;
    width: 100%;
  }
  