@font-face {
    font-family: 'Scribble';
    src: url('../fonts/scribble-webfont.woff2') format('woff2'),
         url('../fonts/scribble-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Thin.ttf') format('ttf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Castoro';
  src: url('../fonts/Castoro-Regular.ttf') format('ttf');
  font-weight: 300;
  font-style: normal;
}


body {
  color:#000000;
  width: 76%;
  margin: 25px auto;
  text-align: left;
  z-index: 0;
  font-size: 20px;
  font-family: 'Inter', sans-serif, 'Work Sans', Garamond, 'Times New Roman', serif;
  font-weight: 300;
  min-height: 100vh;
  line-height: 145%;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Castoro';
  font-weight: 400;
}


h1 {
  font-size: 300%;
  line-height: 130%;
}

h3{
  font-size: 260%;
  line-height: 120%;
}

body {
  background-image: linear-gradient( rgba(255, 255, 255, 0.957), rgba(255, 255, 255, 0.787)), url("../images/backtop.jpg");
  background-color: hsla(0, 0%, 0%, 85%);
  font-weight: 250;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  max-width: 9.2in;
}

.hl{
  margin-top: 15px;
  border-top: 1px solid rgb(0, 0, 0);
  padding-bottom: 35px;
  width: 100%;
}

.dl{
  margin-top: 15px;
  border-top: 1px dotted rgb(0, 0, 0);
  width: 100%;
}

.dl2{
  margin-top: 15px;
  border-top: 1px dashed rgb(0, 0, 0);
  width: 100%;
}

.center {
  text-align: center;
  display: block;
  margin: 25px auto;
}

a img{
  display: inline-block;
}

img {
  display:  block;
  margin: 25px auto;
}

#title{
  text-align: center;
}

.eq {
  overflow-x: auto;
  margin: 0.8%;
}




.boxed{
  border: 1px solid rgb(0, 0, 0);
  padding: 0px 15px;
}

.boxtitle{
  padding-top: 3px;
  text-decoration: underline;
  margin-top: 5px;
}



.centerframe {
  margin: 0 auto;
}

.margin5{
  margin 15px;
  padding-top: 20px;
}

a{
  color: rgb(5, 23, 143);
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

.collapsible {
  background-color: hsla(0,0%,50%,0.5);
  color: white;
  cursor: pointer;
  padding: 18px 18px;
  margin: 20px 20px 0px;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: hsla(0,50%,26%,0.9);
}

.content {
  padding: 20px 18px;
  display: none;
  overflow: hidden;
  background-color: hsla(0,0%,26%,0.9);
  margin: 0px 0px 20px;
  z-index: 1;
}

.ralign {
  position: absolute;
  right: 12%;
  z-index: 1;
}

#home{
  position: fixed;
  width: 3%;
  top: 1%;
  right: 4%;
}

#home:hover{
 -webkit-filter: brightness(150%);
}

#ib{
  display: inline-block;
}


#up{
  color: hsla(0, 0%, 0%, 0.922);
  text-decoration: none;
  font-family: scribble;
  position: fixed;
  left:2.7%;
  opacity: 50%;  
  font-weight: 900;
  transition: all .2s ease-in-out;
}

#upa{
  color: #000000;
  text-decoration: none;
  font-size: 2em;
  font-weight: 900;
}

#up:hover{
  -webkit-filter: brightness(300%);
  transform: scale(1.1);
}


a.white{
  color: white;
  font-weight: 900;
}










@media (max-width: 8in) {
  body {
    font-size: 18px;
    padding-bottom: 3%;
  }

 #home{
  position: fixed;
  top: -.2%;
  right: 5%;
  }

  #homeimg{
    width: 35px;
    height: auto;
  }


  #upa{
    font-size: 1.65em;
  }

}

@media (max-width: 4.8in) {
  #upa{
    font-size: 1.23em;
    left:1.8%;
    display: none;
  }

  h1 {
    font-size: 200%;
    line-height: 130%;
  }

 #home{
  top: -.2%;
  right: 3em;
  }

 #homeimg{
  max-width: 1.4dem;
  display: none;
 }

  .ralign {
    position: static;
    display: block;
  }

}






::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #333333;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}
