
body {
  color:#ffffff;
  width: 76%;
  margin: 25px auto;
  text-align: left;
  z-index: 0;
  font-size: 27px;
  font-family: 'Work Sans', Garamond, 'Times New Roman', serif;
  font-weight: 350;
  max-width: 37.6cm;
  min-height: 100vh;
}


body {
  background-image: linear-gradient( rgba(0, 0, 0, 0.62), rgba(0, 0, 0, 0.55)), url("../images/backpythagoras.jpg");
  background-color: hsla(0, 0%, 0%, 85%);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

img.center {
  display: block;
  margin: 3% auto;
}

#applet_container1 {
  max-width:80%;
}

.eq {
  overflow-x: auto;
  margin: 0.8%;
}

.center {
  text-align: center;
  display: block;
  margin: 25px auto;
}


#actex {
  display: flex;
  margin:  5% auto 10px;
  justify-content: center;
}



#title {
  text-align: center;
}

#examplenn {
  max-width:12.3cm;
}

#exneuron {
  padding-top: 3%;
  max-width:15cm;
}

#ffninput {
  max-width: 14cm;
}

#nleft {
}

#nnbpright {
}

#bppath {
  max-width:14cm;
}

.flex {
  display:flex;
  align-items: center;
}

.wrap{
 flex-wrap: wrap ;
}

.ib {
  display: inline-block;
  text-align: center;
  vertical-align: center;
}

.margin5 {
  margin-right: 5%;
}

@media (max-width: 8in) {
  body {
    font-size: 18px;
    padding-bottom: 3%;
  }

  .margin5 {
    min-width: 87%;
    margin-right: 0;
    margin: 3% auto;
  }
  
  #actex {
    display: block;
    justify-content: center;
    max-width: 4in;
  }
  
  #softmaxinteractive {
    max-height: 3in;
  }
}