#toc_container {
    background: #f9f9f91c none repeat scroll 0 0;
    border: 1px solid rgba(170, 170, 170, 0.503);
    display: table;
    font-size: 80%;
    margin-bottom: 5px;
    padding: 5px;
    width: auto;
}

.toc_title {
    font-weight: 700;
    text-align: center;
}

.toc_list{
  padding: 7px;
}

#toc_container li, #toc_container ul, #toc_container ul li{
    list-style: outside none none !important;
}

.flex{
    display: flex;
}

.stack{
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

#blurb{
    max-width: 17.5cm;
    text-align: justify;
}