#home{
  position: fixed;
  width: 3%;
  top: 1%;
  right: 4%;
}

#home:hover{
 -webkit-filter: brightness(150%);
}

.hover{
  transition: all .2s ease-in-out;
}

.hover:hover{
  -webkit-filter: brightness(125%);
  transform: scale(1.1);
}
