
body {
  color:#ffffff;
  width: 94%;
  margin: 25px auto;
  text-align: center;
  z-index: 0;
  font-size: 21px;
  font-family: 'Work Sans', Garamond, 'Times New Roman', serif;
  font-weight: 350;
  max-width: 87.5% 17.6cm;
  min-height: 100vh;
}


body {
  background-image: linear-gradient( rgba(0, 0, 0, 0.62), rgba(0, 0, 0, 0.55)), url("../images/backpythagoras.jpg");
  background-color: hsla(0, 0%, 0%, 85%);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

#examplenn {
  max-width:16.3cm;
}

#exneuron {
  min-width:12cm;
}

#ffninput {
  min-width:12cm;
  max-width: 14cm;
}

#nleft {
}

#nnbpright {
  width:65%;
}

#bppath {
  max-width:14cm;
}

.flex {
  display:flex;
  align-items: center;
}

.wrap{
 flex-wrap: wrap ;
}

.ib {
  display: inline-block;
  text-align: center;
  vertical-align: center;
}

.margin5 {
  margin:3% 5%;
  min-width: 10cm;
}
