body {
  color:#ffffff;
  width: 76%;
  margin: 25px auto;
  text-align: left;
  z-index: 0;
  font-size: 27px;
  font-family: 'Work Sans', Garamond, 'Times New Roman', serif;
  font-weight: 350;
  max-width: 37.5cm;
  min-height: 100vh;
}


body {
  background-image: linear-gradient( rgba(0, 0, 0, 0.62), rgba(0, 0, 0, 0.55)), url("../assets/images/backspherical.jpg");
  background-color: hsla(0, 0%, 0%, 85%);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}


.eq {
  overflow-x: auto;
  margin: 0.8%;
}

.center{
  text-align: center;
}


#title{
  text-align: center;
}

@media (max-width: 8in) {
  body {
    font-size: 18px;
    padding-bottom: 3%;
  }
}

